*{
    background: #D9CCC1;
    font: 1em 'PT Sans', Tahoma, Arial;
    text-transform: uppercase;
}

input{
    font-size: 1.4rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
    margin: 0;
    width: 100%;
}

button{
    width: 70%;
    height: 4%;
    margin-bottom: 10px;
    padding: 7px 10px 23px;
}

form{
    width: 20%;
    background-color: #8C7F77;
    padding: 10px 30px;
    margin: 50px 20px;
}

h2, p{
    background-color: #8C7F77;
    color: #D9CCC1;
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    text-decoration: none;
}